<div class="container mt-3">
    <div class="row">
       <div class="card">
         <div class="card-header">
           Seus dados
         </div>
         <div class="card-body">
          <div class="text-right">
            <button type="button" class="btn btn-primary btn-sm ml-1" routerLink="/participante/alterar/{{participante.cpf}}">Editar</button>
          </div>

          <div class="form-group">
            <label for="nomeCompleto">{{ participante.nomeCompleto }}</label>
        </div>
    
        <div class="form-group">
            <label for="cpf">{{ participante.cpf }}</label>
        </div>
    
        <div class="form-group">
            <label for="dataNascimento">{{ participante.dataNascimento }}</label>
        </div>
    
        <div class="form-group">
            <label for="email">{{ participante.email }}</label>
        </div>
    
        <div class="form-group">
            <label for="telefone">{{ participante.telefone }}</label>
        </div>

         </div>
       </div>
    </div>
</div>